.service-card {
    transition: all 0.3s ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 20px #d1d1d1, -8px -8px 20px #ffffff;
}

.icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 5px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(135deg, #6366f1);*/
    background: #b13124;
}

.service-title {
    color: #2d3748;
    font-weight: 600;
}

.service-text {
    color: #718096;
    font-size: 0.95rem;
}

body {
    background-color: #f8f9fa;
    min-height: 100vh;
}
.icon {
    font-size: 30px !important;
    color: #fff;
}

.service-title {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.service-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #b13124;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.service-card:hover .service-title::after {
    transform: scaleX(1);
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(../fonts/icons.woff2) format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

